<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客综合管理平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=890428a1a1" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=3bb6a59ab6"></script>
		<script src="../js/common.js?v=ac90fbe080"></script>
	</head>

	<body>
		<div class="KJYBOX VDOM" v-cloak>
			<div class="kjy-title">车闸设备管理</div>
			<div class="search-box">
				<div class="search-text">
					<div class="search">
						<div class="search-name">所属社区：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="communityName" id="输入社区名称" />
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
				<div class="btn icon icon-search" onclick="sreach();">查询</div>
				<div v-if="communityList.length > 0" class="btn icon icon-add" onclick="showCarMaster(0, '', '新建门禁设备');">新建门禁设备</div>
				<div class="btn icon icon-del" onclick="del();">删除</div>
			</div>
			<div class="kjy-data-box">
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有车闸设备哦</div>
					</div>
				</div>
				<div class="kjy-table" v-else>
					<table>
						<thead>
							<tr>
								<th class="padding20">
									<div v-bind:class="['no-check',allIsActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
								<th>设备名称</th>
								<th>设备类别</th>
								<th>创建时间</th>
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody id="tbody">
							<tr>
								<td class="padding20">
									<div class="no-check" onclick="selectOneData()"></div>1</td>
								<td>大门门禁</td>
								<td>门禁设备类</td>
								<td>2018-7-11</td>
								<td>闪向</td>
								<td>
									<div class="btn icon icon-edit" onclick="showCarMaster(1,1,'编辑门禁设备')">编辑</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		param.communityList = [];

		//删除数据
		function del() {
			delData("确定删除所选车闸设备？", function(param) {
				request('POST', '/property/administrator/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				blur: $("#salerName").val(),
				gender: $("#gender").val()
			};
			request('POST', '/property/saler/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allIsActive = false;
				loadxq();
			}, function() {
				layer.msg("车闸设备加载失败");
			})
		}

		function loadCommunity() {
			var param = {};
			request('POST', '/property/community/queryList.do', param, true, function(res) {
				if(res.data.length == 0) {
					layer.msg("请先新建物业社区", {
						time: 2000
					}, function() {
						tabNav("1-2");
					});
				} else {
					setData.communityList = res.data;
				}
			}, function(res) {
				layer.msg("物业社区加载失败");
			})
		}

		loadPage(0, function() {
			loadCommunity();
		});
	</script>

</html>