<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客综合管理平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=890428a1a1" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/requestUrl.js?v=3bb6a59ab6"></script>
		<script src="../js/common.js?v=ac90fbe080"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="search-box">
				<div class="search-row-box">
					<div class="search-list">
						<div class="search-name">物业名称：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="物业名称" />
						</div>
					</div>
					<div class="search-btn-box">
						<div class="btn" onclick="search();">查询</div>
						<div class="btn" onclick="reloadPage();">重置</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn" onclick="pmc();">新建</div>
					<div class="btn" onclick="del();">删除</div>
				</div>
			</div>
			<div class="kjy-data-box" v-if="isInit">
				<div class="no-data-box" v-if="dataList.length == 0">
					<div class="no-data-inner-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有物业公司哦</div>
					</div>
				</div>
				<div class="kjy-data-inner-box" v-else>
					<div class="kjy-table">
						<table>
							<thead>
								<tr>
									<th class="padding-left-56">
										<div v-bind:class="['icon','icon-check-box','position-left',allIsActive?'icon-checked':'']" v-on:click="selectAllData()"></div>序号</th>
									<th>物业名称</th>
									<th>物业负责人</th>
									<th>手机号</th>
									<th>详细地址</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="tbody">
								<tr v-for="(t,i) in dataList">
									<td class="padding-left-56">
										<div v-bind:class="['icon','icon-check-box','position-left',t.isActive?'icon-checked':'']" v-on:click="selectOneData(t)"></div>{{((pageNo-1)*pageSize)+(i+1)}}</td>
									<td v-bind:title="t.name">{{t.name}}</td>
									<td>{{t.charger}}</td>
									<td>{{t.chargerTelephone}}</td>
									<td v-bind:title="t.address?t.address:'无'">{{t.address?t.address:"无"}}</td>
									<td>{{t.createTime}}</td>
									<td>
										<ul class="opera-box">
											<li v-on:click="pmc(t);">编辑</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="page-box"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);

		//新建或编辑
		function pmc(obj) {
			if(obj) {
				var title = "编辑物业";
			} else {
				var title = "新建物业";
			}
			openMask("parts/pmc", title, ["334px", "358px"], function(layerDom, layerIframe) {
				if(obj) {
					layerIframe.setData.parentData = obj;
					layerDom.find("#name").val(obj.name);
					layerDom.find("#charger").val(obj.charger);
					layerDom.find("#chargerTelephone").val(obj.chargerTelephone);
					layerDom.find("#account").val(obj.account);
					layerDom.find("#address").val(obj.address);
					layerDom.find("#description").val(obj.description);
				}
			})
		}

		//删除
		function del() {
			if(idList.length == 0) {
				layer.msg("请选择物业");
				return false;
			}
			openConfirm("确定删除所选物业吗？", function() {
				var param = {
					idList: idList
				}
				request("POST", "property/pmc/delete.do", param, true, function(res) {
					loadData();
					layer.closeAll("dialog");
				}, function(res) {
					if(res.code == "0401") {
						layer.msg("物业公司下有社区关联，如想删除物业公司，请删除物业社区");
					} else {
						layer.msg("删除失败");
					}
				})
			})
		}

		//加载数据
		function loadData() {
			var param = {
				page: pageNo,
				name: $("#name").val()
			};
			request("POST", "property/pmc/v2/queryList.do", param, true, function(res) {
				var dataList = res.data.dataList;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allIsActive = false;
				setData.isInit = true;
				loadPage();
			}, function(res) {
				layer.msg("物业公司加载失败");
			})
		}

		loadData();
	</script>

</html>